{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="/theme/css/btn-content.css">
{% if 'jquery' in article.include %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endif %}
{% if 'require' in article.include %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.js"></script>
{% endif %}
{% if 'vue' in article.include %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
{% endif %}
{% if 'angular1' in article.include %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
{% endif %}
{% endblock %}

{% block content %}
<main role="main" class="article container">
    <article>
        <header>
            <div class="btn-group">
                    <button id ="mytoc" style="position: fixed; right:2px;" type="button" class="btn-content dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    </button>
                    <div class="dropdown-menu" aria-labelledby="mytoc">
                        <div id='toc' style="min-width:300px; max-width:450px;min-height:200px;max-height:450px; overflow: scroll; white-space:nowrap;"> 

                            <a href="#" style="margin:20px">
                                <strong>{{ article.title }}</strong> 
                            </a>                   
                            <div class="dropdown-divider"></div>

                            {{ article.toc }}

                        </div>
                    </div>
                    
            </div> 

            <h1 class="article header h1" style="color: rgb(53, 53, 144); font-size:30px;">{{ article.title }}</h1>
            <section class="post-meta">
                <time datetime="article.date.isoformat()" pubdate>{{ article.locale_date }}</time>
                <span class="date-divider">/</span>
                <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>                    
            </section>            
        </header>
        
        <hr class="post-divider">

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <div style="font-size:20px;">Table of contents</div>
                    </button>
                    </h5>
                </div>
            
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        {{ article.toc }}
                    </div>
                </div>
            </div>
        </div>
        <br>
        
        {{ article.content }}
        
        <div class="metabox">
            <hr class="post-divider">
            <div class="tags" style='text-align: center'>
                {% for tag in article.tags %}
                    <a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </article>
</main>
{% endblock %}

