{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}

{% block extra_head %}
{% if 'jquery' in article.include %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endif %}
{% if 'require' in article.include %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.js"></script>
{% endif %}
{% if 'vue' in article.include %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
{% endif %}
{% if 'angular1' in article.include %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
{% endif %}
{% endblock %}

{% block content %}
<main role="main" class="article container">
    <article>

        <header>
            <div class="btn-group">
                    <button id ="mytoc" style="position: fixed; right:2px;" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Contents
                    </button>
                    
                    {{ article.toc }}
                
            </div> 

            <h1 style="color: rgb(53, 53, 144); font-size:30px;">{{ article.title }}</h1>
            <section class="post-meta">
                <time datetime="article.date.isoformat()" pubdate>{{ article.locale_date }}</time>
                {% for tag in article.tags[:2] %}
                    <span class="date-divider">/</span>
                    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                {% endfor %}
            </section>            
        </header>

        {{ article.content }}
        
        <div class="metabox">
            <hr class="post-divider">
            <div class="tags">
                {% for tag in article.tags %}
                    <a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </article>
</main>
{% endblock %}

